NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/emi_shield
JWT_ACCESS_SECRET=replace-with-access-secret
JWT_REFRESH_SECRET=replace-with-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
REFRESH_COOKIE_NAME=refreshToken
COOKIE_SECURE=false
CORS_ORIGIN=http://localhost:3000
